<!DOCTYPE html>

<html>

<head>
    <!-- /css/style1.css is the relative path relative to the web server that is set up as the root by the app.js file-->
    <link rel="stylesheet" type="text/css" href="/css/style1.css"> 
</head>

<body>
    <div class="content">
    {{>header}}
    </div>
    <!--<h2>{{title}}</h2>-->
    {{>footer}}
</body>

</html>